*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: auto;
  min-height: 100%;
}

body {
  background: #fff;
  color: #242942;
  position: relative;
  height: 100vh;
  min-height: 700px;
}

:focus {
  outline: none;
}

body {
  font-size: 1rem;
  font-family: 'Barlow', sans-serif;
}

h1 {
  font-size: 2.3rem;
  text-transform: uppercase;
}

h1, header, .content__top, .content__bottom {
  font-family: 'Barlow Condensed', sans-serif;
}

@media (max-width: 321px) {
  body {
    font-size: 0.8rem;
  }
  body h1 {
    font-size: 2rem;
  }
}

.nav-open nav {
  -webkit-transform: translateY(70%);
          transform: translateY(70%);
}

.nav-open .hamburger-button {
  background: url(../images/icon-close.svg) no-repeat center center;
}

header {
  width: 100%;
  position: absolute;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo {
  max-width: 25px;
}

header nav {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: absolute;
  left: 1.5em;
  right: 1.5em;
}

header nav .nav__list {
  display: block;
  list-style: none;
  background: #fff;
  padding: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
}

header nav .nav__list .nav__list-item {
  padding: 0.7em 0;
  width: 100%;
  text-align: center;
}

header nav .nav__list .nav__list-item .nav__list-link {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.05em;
  font-weight: 700;
  padding: 0.5em;
}

header nav .nav__list .nav__list-item .nav__list-link-last {
  color: #a0a1ac;
}

header nav .nav__list .nav__list-item-last {
  border-top: 1px solid #a0a1ac;
  margin-top: 1em;
  padding-top: 1.5em;
  padding-bottom: 0;
}

header .hamburger-button {
  background: url(../images/icon-hamburger.svg) no-repeat center center;
  background-color: rgba(0, 0, 0, 0);
  min-width: 2em;
  min-height: 2em;
}

main {
  padding-top: 7em;
}

main .background-poly {
  height: 50%;
  width: 50%;
  background: #eef3f6;
  border-radius: 0 0 0 4em;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -100;
}

main .hero-img-container {
  overflow: hidden;
  padding-left: 0.5em;
}

main .hero-img-container .hero-img {
  max-width: 138%;
}

main .content {
  padding: 5em 2em;
}

main .content .content__top .content__top__new {
  background: #242942;
  font-size: 0.9rem;
  font-weight: 700;
  color: #fff;
  padding: 0.2em 0.7em;
  text-transform: uppercase;
  border-radius: 1em;
}

main .content .content__top .content__top__desc {
  text-transform: uppercase;
  margin-left: 1em;
  color: #a0a1ac;
  letter-spacing: 0.25em;
}

main .content .content__heading {
  margin-top: 0.4em;
}

main .content .content__desc {
  color: #5b5f71;
  margin-top: 1em;
  padding-right: 2em;
  font-size: 1.05rem;
}

main .content .content__bottom {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .content .content__bottom .content__bottom__button-link {
  background: #ff5c5c;
  padding: 0.8em 1.5em;
  border-radius: 0.4em;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1em;
}

main .content .content__bottom .content__bottom__desc {
  margin-left: 1em;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 0.9rem;
  color: #a0a1ac;
}

main footer {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  padding-bottom: 0.5em;
  color: #a0a1ac;
}

main footer a {
  text-decoration: none;
  color: #ff5c5c;
}

main footer a:hover {
  color: #242942;
}
/*# sourceMappingURL=main.css.map */